<div class="container">
    <h1>Carreras</h1>
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Buscar...</mat-label>
        <input matInput (input)="applyFilter($event)" />
      </mat-form-field>
      <button mat-button style="color: #fff; background-color: #1E90FF;" (click)="openCreateDialog()">Crear</button>
    </div>
    <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="nombre_carrera">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.background-color]="color">Nombre</th>
        <td mat-cell *matCellDef="let carrera">{{ carrera.nombre_carrera }}</td>
      </ng-container>
  
      <ng-container matColumnDef="fecha_inicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.background-color]="color">Fecha de Inicio</th>
        <td mat-cell *matCellDef="let carrera">{{ carrera.fecha_inicio | date }}</td>
      </ng-container>
  
      <ng-container matColumnDef="horas_semanales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.background-color]="color">Horas Semanales</th>
        <td mat-cell *matCellDef="let carrera">{{ carrera.horas_semanales }}</td>
      </ng-container>
  
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.background-color]="color">Código</th>
        <td mat-cell *matCellDef="let carrera">{{ carrera.codigo }}</td>
      </ng-container>
  
      <ng-container matColumnDef="borrar" >
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color">Eliminar</th>
        <td mat-cell *matCellDef="let carrera">
          <button mat-icon-button color="warn" (click)="deleteCarrera(carrera.id_carrera)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>ç
      <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color">Actualizar</th>
        <td mat-cell *matCellDef="let carrera">
          <button mat-icon-button color="primary" (click)="openEditDialog(carrera)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>