<div class="container">
  <div class="card" *ngIf="!showFinalForm">
    <img src="assets/img/logo.png" alt="GADI" class="logo">
    <form [formGroup]="registroForm1" (ngSubmit)="onSubmit1()">
      <div class="row">
        <div class="form-group">
          <label class="label" for="primer_nombre">Primer nombre</label>
          <input class="form-control" type="text" id="primer_nombre" formControlName="name1" required />
          <div *ngIf="registroForm1.get('name1')?.hasError('pattern')" class="text-danger">
            Ingrese solo letras
          </div>
          <div *ngIf="registroForm1.get('name1')?.touched && registroForm1.get('name1')?.invalid" class="text-danger"> 
            El primer nombre es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label for="segundo_nombre">Segundo nombre</label>
          <input class="form-control" type="text" id="segundo_nombre" formControlName="name2" required />
          <div *ngIf="registroForm1.get('name2')?.hasError('pattern')" class="text-danger">
            Ingrese solo letras
          </div>
          <div *ngIf="registroForm1.get('name2')?.touched && registroForm1.get('name2')?.invalid" class="text-danger">
            El segundo nombre es obligatorio.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="primer_apellido">Primer apellido</label>
          <input class="form-control" type="text" id="primer_apellido" formControlName="lastname1" required />
          <div *ngIf="registroForm1.get('lastname1')?.hasError('pattern')" class="text-danger">
            Ingrese solo letras
          </div>
          <div *ngIf="registroForm1.get('lastname1')?.touched && registroForm1.get('lastname1')?.invalid"
            class="text-danger">
            El primer apellido es obligatorio.
          </div>
        </div>

        <div class="form-group">
          <label for="segundo_apellido">Segundo apellido</label>
          <input class="form-control" type="text" id="segundo_apellido" formControlName="lastname2" required />
          <div *ngIf="registroForm1.get('lastname2')?.hasError('pattern')" class="text-danger">
            Ingrese solo letras
          </div>
          <div *ngIf="registroForm1.get('lastname2')?.touched && registroForm1.get('lastname2')?.invalid"
            class="text-danger">
            El segundo apellido es obligatorio.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="usuario">Cédula</label>
          <input class="form-control" type="text" id="usuario" formControlName="user"
            placeholder="Este será su usuario de ingreso" required />
          <div *ngIf="registroForm1.get('user')?.touched && registroForm1.get('user')?.invalid" class="text-danger">
            La cédula es obligatoria y debe ser válida.
          </div>
          <div *ngIf="registroForm1.get('user')?.hasError('invalidLength') && registroForm1.get('user')?.touched"
            class="text-danger">
            La cédula debe tener 10 dígitos.
          </div>
          <div *ngIf="registroForm1.get('user')?.hasError('invalidProvince') && registroForm1.get('user')?.touched"
            class="text-danger">
            La cédula tiene un código de provincia inválido.
          </div>
          <div *ngIf="registroForm1.get('user')?.hasError('invalidCedula') && registroForm1.get('user')?.touched"
            class="text-danger">
            La cédula no es válida.
          </div>
        </div>

        <div class="form-group">
          <label for="contra">Contraseña</label>
          <input class="form-control" type="password" id="password" formControlName="password" required>
          <div *ngIf="registroForm1.get('password')?.hasError('pattern')" class="text-danger">
            ¡Ingrese una contraseña de mínimo 8 caracteres, mayúsculas, minúsculas y un caracter especial!
          </div>
          <div *ngIf="registroForm1.get('password')?.touched && registroForm1.get('password')?.invalid"
            class="text-danger">
            La contraseña es obligatoria.
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-rounded">CONTINUAR</button>
    </form>
    <div class="redirection-buttons">
      <p></p>
      <p class="login-link" routerLink="/login">Ya tienes cuenta? Inicia sesión</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card" *ngIf="showFinalForm">
    <img src="assets/img/logo.png" alt="GADI" class="logo">
    <form [formGroup]="registroForm2" (ngSubmit)="onSubmit2()">
      <div class="row">
        <div class="form-group">
          <label class="label" for="telefono">Teléfono</label>
          <input class="form-control" type="tel" id="telefono" formControlName="telefono" required />
          <div *ngIf="registroForm2.get('telefono')?.touched && registroForm2.get('telefono')?.invalid"
            class="text-danger">
            <div *ngIf="registroForm2.get('telefono')?.hasError('required')">El teléfono es obligatorio.</div>
            <div *ngIf="registroForm2.get('telefono')?.hasError('invalidLength')">El teléfono debe tener 10 dígitos.
            </div>
            <div *ngIf="registroForm2.get('telefono')?.hasError('invalidFormat')">El teléfono debe comenzar con '09'.
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input class="form-control" type="text" id="direccion" formControlName="direccion" required />
          <div *ngIf="registroForm2.get('direccion')?.touched && registroForm2.get('direccion')?.invalid"
            class="text-danger">
            La dirección es obligatoria.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="correo">Correo</label>
          <input class="form-control" type="email" id="correo" formControlName="correo" required />
          <div *ngIf="registroForm2.get('correo')?.touched && registroForm2.get('correo')?.invalid" class="text-danger">
            El correo es obligatorio y debe ser válido.
          </div>
        </div>

        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de Nacimiento</label>
          <input class="form-control" type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento"
            (change)="calcularEdad($event)" required />
          <div *ngIf="registroForm2.get('fecha_nacimiento')?.touched && registroForm2.get('fecha_nacimiento')?.invalid"
            class="text-danger">
            La fecha de nacimiento es obligatoria.
          </div>
          <div *ngIf="edad < 18 && registroForm2.get('fecha_nacimiento')?.touched" class="text-danger">
            Debes ser mayor de 18 años.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="f_vinculacion">Fecha de vinculación</label>
          <input class="form-control" type="date" id="f_vinculacion" formControlName="fecha_vinculacion" required />
          <div
            *ngIf="registroForm2.get('fecha_vinculacion')?.touched && registroForm2.get('fecha_vinculacion')?.invalid"
            class="text-danger">
            La fecha de vinculación es obligatoria.
          </div>
        </div>

        <div class="form-group">
          <label for="grado">Grado Ocupacional</label>
          <select id="grado" formControlName="nombre_grado_ocp" required class="form-control"
            (ngModel)="gradoSeleccionado" name="jornada" aria-label="Jornada" aria-describedby="basic-addon1"
            (change)="onGradoChange($event)">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let grado of grados" [value]="grado.id_grado_ocp">{{ grado.nombre_grado_ocp }}</option>
          </select>

          <div *ngIf="registroForm2.get('nombre_grado_ocp')?.touched && registroForm2.get('nombre_grado_ocp')?.invalid"
            class="text-danger">
            El grado ocupacional es obligatorio.
          </div>
        </div>
      </div>

      <div class="row">
        <div formArrayName="titulos">
          <div *ngFor="let titulo of titulos.controls; let i = index" [formGroupName]="i" class="titulo-form">
            <label for="nombre_titulo_{{i}}">Título Profesional</label>
            <input type="text" id="nombre_titulo_{{i}}" formControlName="nombre_titulo" required />

            <label for="grado_{{i}}">Grado</label>
            <select id="grado_{{i}}" formControlName="grado" required>
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="3er nivel">3er nivel</option>
              <option value="4to nivel">4to nivel</option>
            </select>

            <button type="button" (click)="removeTitulo(i)">Eliminar Título</button>
          </div>
        </div>
        <button type="button" (click)="addTitulo()">Añadir Título</button>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="contrato">Contrato</label>
          <select id="contrato" formControlName="nombre_contrato" required (change)="onContratoChange($event)"
            (ngModel)="contratoSelec">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let contrato of contratos" [value]="contrato.id_tipo_contrato">{{ contrato.nombre_contrato
              }}
            </option>
          </select>
          <div *ngIf="registroForm2.get('nombre_contrato')?.touched && registroForm2.get('nombre_contrato')?.invalid"
            class="text-danger">
            El contrato es obligatorio.
          </div>
        </div>

        <div class="form-group" *ngIf="isTiempoParcial">
          <label>Número de horas</label>
          <input class="form-control" type="number" id="horas" formControlName="hora_contrato" required>
          <div *ngIf="registroForm2.get('hora_contrato')?.touched && registroForm2.get('hora_contrato')?.invalid"
            class="text-danger">
            El número de horas es obligatorio.
          </div>
        </div>
      </div>
      <div>
        <p></p>
      </div>

      <button type="submit" class="btn btn-primary btn-rounded">REGISTRARSE</button>
    </form>
  </div>
</div>