<div>
  <div class="container {{currentExplan}}">
    <div class="contenedorHeader">
      <h1 class="titulo">REGISTRO DE USUARIOS</h1>
      <img src="assets/img/logo.png" alt="GADI" class="logo">
    </div>
    <form [formGroup]="registroForm1" (ngSubmit)="onSubmit()">
      <div class="contenedor1">
        <mat-form-field appearance="outline">
          <mat-label>Primer Nombre</mat-label>
          <input matInput formControlName="name1">
          <mat-error *ngIf="registroForm1.get('name1')?.hasError('required')">El primer nombre es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('name1')?.hasError('pattern')">El primer nombre solo puede contener
            letras</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Segundo Nombre</mat-label>
          <input matInput formControlName="name2">
          <mat-error *ngIf="registroForm1.get('name2')?.hasError('required')">El segundo nombre es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('name2')?.hasError('pattern')">El segundo nombre solo puede contener
            letras</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input matInput formControlName="lastname1">
          <mat-error *ngIf="registroForm1.get('lastname1')?.hasError('required')">El primer apellido es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('lastname1')?.hasError('pattern')">El primer apellido solo puede contener
            letras</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput formControlName="lastname2">
          <mat-error *ngIf="registroForm1.get('lastname2')?.hasError('required')">El segundo apellido es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('lastname2')?.hasError('pattern')">El segundo apellido solo puede contener
            letras</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="user">
          <mat-error *ngIf="registroForm1.get('user')?.hasError('required')">La cédula es obligatoria</mat-error>
          <mat-error *ngIf="registroForm1.get('user')?.hasError('invalidCedula')">La cédula es inválida solo debe ingresar 10</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="hide() 'password' : 'text'">
          <button class="btncon" matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon >{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registroForm1.get('password')?.hasError('required')">La contraseña es
            obligatoria</mat-error>
          <mat-error *ngIf="registroForm1.get('password')?.hasError('pattern')">La contraseña debe tener al menos 8
            caracteres y contener letras, números y caracteres especiales</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono">
          <mat-error *ngIf="registroForm1.get('telefono')?.hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('telefono')?.hasError('invalidLength')">El teléfono debe tener 10
            dígitos</mat-error>
          <mat-error *ngIf="registroForm1.get('telefono')?.hasError('invalidFormat')">El teléfono debe empezar con
            09</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion">
          <mat-error *ngIf="registroForm1.get('direccion')?.hasError('required')">La dirección es
            obligatoria</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" type="email">
          <mat-error *ngIf="registroForm1.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('correo')?.hasError('email')">El correo es inválido</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label [style.font-size.px]="14">Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" (dateChange)="calcularEdad($event)">
          <mat-hint>MM/DD/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registroForm1.get('fecha_nacimiento')?.hasError('invalidAge')">Debe ser mayor de 18
            años</mat-error>
          <mat-error *ngIf="registroForm1.get('fecha_nacimiento')?.hasError('required')">Fecha de nacimiento es
            requerida</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput formControlName="edad" [value]="edad" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label [style.font-size.px]="14">Fecha de Vinculacion</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="fecha_vinculacion" />
          <mat-hint>MM/DD/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="registroForm1.get('fecha_vinculacion')?.hasError('required')">Fecha de vinculación es
            requerida</mat-error>
        </mat-form-field>
  
      </div>
      <div class="contenedor2">
        <div formArrayName="titulos">
          <div *ngFor="let titulo of titulos.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del Título</mat-label>
              <input matInput formControlName="nombre_titulo">
              <mat-error *ngIf="titulo.get('nombre_titulo')?.hasError('required')">El nombre del título es
                obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Grado</mat-label>
              <mat-select formControlName="grado">
                <mat-option value="Tercer grado">Tercer grado</mat-option>
                <mat-option value="Cuarto grado">Cuarto Grado</mat-option>
              </mat-select>
              <mat-error *ngIf="titulo.get('grado')?.hasError('required')">El grado es obligatorio</mat-error>
            </mat-form-field>
            <button mat-button style="color: #fff; background-color: #ff3a3a;" (click)="removeTitulo(i)">Eliminar
              Titulo</button>
          </div>
        </div>
        <button mat-button style="color: #fff; background-color: #1E90FF;" (click)="addTitulo()">Agregar Titulo</button>
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>Grado Ocupacional</mat-label>
        <mat-select formControlName="nombre_grado_ocp">
          <mat-option *ngFor="let grado of grados" [value]="grado.id_grado_ocp">{{grado.nombre_grado_ocp}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registroForm1.get('nombre_grado_ocp')?.hasError('required')">El grado ocupacional es
          obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Contrato</mat-label>
        <mat-select formControlName="nombre_contrato" (selectionChange)="toggleHoraContrato($event.value)">
          <mat-option *ngFor="let contrato of contratos"
            [value]="contrato.id_tipo_contrato">{{contrato.nombre_contrato}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registroForm1.get('nombre_contrato')?.hasError('required')">El tipo de contrato es
          obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Horas de Contrato</mat-label>
        <input matInput formControlName="hora_contrato" type="number" readonly="{{habilitar}}">
      </mat-form-field>
      <button mat-button style="color: #fff; background-color: #1E90FF;" type="submit">Registrar</button>
    </form>
  </div>
  <br>
</div>