<div>
  <div class="container {{currentExplan}}">
    <div class="contenedorHeader">
      <h1 class="titulo">REGISTRO DE USUARIOS</h1>
      <img src="assets/img/logo.png" alt="GADI" class="logo">
    </div>
    <form [formGroup]="registroForm1" (ngSubmit)="onSubmit()">
      <div class="contenedor1">
        <mat-form-field appearance="outline">
          <mat-label>Primer Nombre</mat-label>
          <input matInput #nom1 maxlength="30" formControlName="name1">
          <mat-hint align="end">{{nom1.value.length}} / 30</mat-hint>
          <mat-error *ngIf="registroForm1.get('name1')?.hasError('required')">El primer nombre es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('name1')?.hasError('pattern')">Ingrese un nombre válido con la primera letra mayuscula,(solo letras, 2-30 caracteres).</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Segundo Nombre</mat-label>
          <input matInput #nom2 maxlength="30" formControlName="name2">
          <mat-hint align="end">{{nom2.value.length}} / 30</mat-hint>
          <mat-error *ngIf="registroForm1.get('name2')?.hasError('required')">El segundo nombre es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('name2')?.hasError('pattern')">Ingrese un nombre válido con la primera letra mayuscula,(solo letras, 2-30 caracteres).</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input matInput #ape1 maxlength="30" formControlName="lastname1">
          <mat-hint align="end">{{ape1.value.length}} / 30</mat-hint>
          <mat-error *ngIf="registroForm1.get('lastname1')?.hasError('required')">El primer apellido es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('lastname1')?.hasError('pattern')">Ingrese un apellido válido con la primera letra mayuscula,(solo letras, 2-30 caracteres).</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput #ape2 maxlength="30" formControlName="lastname2">
          <mat-hint align="end">{{ape2.value.length}} / 30</mat-hint>
          <mat-error *ngIf="registroForm1.get('lastname2')?.hasError('required')">El segundo apellido es
            obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('lastname2')?.hasError('pattern')">Ingrese un apellido válido con la primera letra mayuscula,(solo letras, 2-30 caracteres).</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Cédula</mat-label>
          <input matInput #tamCedula maxlength="10" formControlName="user">
          <mat-hint align="end">{{tamCedula.value.length}} / 10</mat-hint>
          <mat-error *ngIf="registroForm1.get('user')?.hasError('required')">La cédula es obligatoria</mat-error>
          <mat-error *ngIf="registroForm1.get('user')?.hasError('invalidCedula')">La cédula es invalida</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput #tamContra maxlength="20" formControlName="password" [type]="hide() ? 'password' : 'text'">
          <button class="btncon" matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon >{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">{{tamContra.value.length}} / 20</mat-hint>
          <mat-error *ngIf="registroForm1.get('password')?.hasError('required')">La contraseña es
            obligatoria</mat-error>
          <mat-error *ngIf="registroForm1.get('password')?.hasError('pattern')">La contraseña debe tener al menos 8
            caracteres y contener letras, números y caracteres especiales</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput #tamTel maxlength="10" formControlName="telefono" required>
          <mat-hint align="end">{{tamTel.value.length}} / 10</mat-hint>
          <mat-error *ngIf="registroForm1.get('telefono')?.hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('telefono')?.hasError('pattern')">El teléfono debe tener 10
            dígitos y empezar por 09</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput #tamDir maxlength="150" formControlName="direccion">
          <mat-hint align="end">{{tamDir.value.length}} / 150</mat-hint>
          <mat-error *ngIf="registroForm1.get('direccion')?.hasError('required')">La dirección es
            obligatoria</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput #tamEmail maxlength="100" formControlName="correo" type="email">
          <mat-hint align="end">{{tamEmail.value.length}} / 100</mat-hint>
          <mat-error *ngIf="registroForm1.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
          <mat-error *ngIf="registroForm1.get('correo')?.hasError('email')">El correo es inválido</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label [style.font-size.px]="14">Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" (dateChange)="calcularEdad($event)">
          <mat-hint>MM/DD/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registroForm1.get('fecha_nacimiento')?.hasError('invalidAge')">Debe ser mayor de 18
            años</mat-error>
          <mat-error *ngIf="registroForm1.get('fecha_nacimiento')?.hasError('required')">Fecha de nacimiento es
            requerida</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput formControlName="edad" [value]="edad" readonly>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label [style.font-size.px]="14">Fecha de Vinculacion</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="fecha_vinculacion" />
          <mat-hint>MM/DD/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="registroForm1.get('fecha_vinculacion')?.hasError('required')">Fecha de vinculación es
            requerida</mat-error>
        </mat-form-field>
  
      </div>
      <div class="contenedor2">
        <div formArrayName="titulos">
          <div *ngFor="let titulo of titulos.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del Título</mat-label>
              <input matInput #tamTit maxlength="100" formControlName="nombre_titulo">
              <mat-hint align="end">{{tamTit.value.length}} / 100</mat-hint>
              <mat-error *ngIf="titulo.get('nombre_titulo')?.hasError('required')">El nombre del título es
                obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Grado</mat-label>
              <mat-select formControlName="grado">
                <mat-option value="Tercer grado">Tercer grado</mat-option>
                <mat-option value="Cuarto grado">Cuarto Grado</mat-option>
              </mat-select>
              <mat-error *ngIf="titulo.get('grado')?.hasError('required')">El grado es obligatorio</mat-error>
            </mat-form-field>
            <button mat-button style="color: #fff; background-color: #ff3a3a;" (click)="removeTitulo(i)">Eliminar
              Titulo</button>
          </div>
        </div>
        <button mat-button style="color: #fff; background-color: #1E90FF;" (click)="addTitulo()">Agregar Titulo</button>
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>Grado Ocupacional</mat-label>
        <mat-select formControlName="nombre_grado_ocp">
          <mat-option *ngFor="let grado of grados" [value]="grado.id_grado_ocp">{{grado.nombre_grado_ocp}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registroForm1.get('nombre_grado_ocp')?.hasError('required')">El grado ocupacional es
          obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Contrato</mat-label>
        <mat-select formControlName="nombre_contrato" (selectionChange)="toggleHoraContrato($event.value)">
          <mat-option *ngFor="let contrato of contratos"
            [value]="contrato.id_tipo_contrato">{{contrato.nombre_contrato}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registroForm1.get('nombre_contrato')?.hasError('required')">El tipo de contrato es
          obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Horas de Contrato</mat-label>
        <input matInput formControlName="hora_contrato" type="number" readonly="{{habilitar}}">
      </mat-form-field>
      <button mat-button style="color: #fff; background-color: #1E90FF;" type="submit">Registrar</button>
    </form>
  </div>
  <br>
</div>