.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.card {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 4px;
    text-shadow: 30cap;
}

input,
select,
mat-form-field {
    width: 100%;
    margin-top: 4px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-size: 14px;
}

select {
    height: 40px;
    appearance: none;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDExIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTExIDBMNS41IDZMMS4yMzUyODJlLTE0IDYgTDAgNS4xNTAyODUgNSA3bDUuNSA0SDBWNk0xMSA2TDAgMFYwWiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==') no-repeat right 10px center;
    background-size: 10px;
}

option {
    padding: 10px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

.register-link {
    font-size: 14px;
    color: #4285f4;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.register-link:hover {
    color: #357ae8;
}

.redirection-buttons {
    text-align: center;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.login-link {
    cursor: pointer;
}

.login-link:hover {
    color: #357ae8;
}