<div class="main">
    <br>
    <h1 class="h1">GESTOR ACADÉMICO DE DISTRIBUTIVOS INSTITUCIONALES</h1>
    <div class="container">
        <mat-card class="card">
            <img src="assets/img/logo.png" alt="GADI" class="logo">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field appearance="outline" matTooltip="Ingrese su cedula"  [matTooltipPosition]="'after'">
                        <mat-label>Usuario</mat-label>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <input matInput type="text" formControlName="usuario" placeholder="Ingrese su cédula">
                        <mat-error *ngIf="searchForm.get('usuario')?.touched && searchForm.get('usuario')?.invalid">
                            Campo Obligatorio*
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" matTooltip="Ingrese su contraseña"  [matTooltipPosition]="'after'">
                        <mat-label>Contraseña</mat-label>
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput type="password" formControlName="contraneusu"
                            placeholder="Ingrese su contraseña">
                        <mat-error
                            *ngIf="searchForm.get('contraneusu')?.touched && searchForm.get('contraneusu')?.invalid">
                            Campo Obligatorio*
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="isLoading" matTooltip="Clic para iniciar sesion"  [matTooltipPosition]="'after'">
                    <ng-container *ngIf="!isLoading">INICIAR SESION</ng-container>
                    <ng-container *ngIf="isLoading">
                        <mat-spinner diameter="24"></mat-spinner>
                    </ng-container>
                </button>
            </form>
        </mat-card>
    </div>
</div>