mat-form-field {
    margin-bottom: 1%;
    margin-top: 5%;
  }
  
  table {
    width: 100%;
    overflow: auto;
    display: block;
  }
  
  
  .container {
    margin-top: 5cap;
    display: flex;
    flex-direction: column;
  
  }
  
  th {
    color: #fff;
  }
  
  h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
  }
  .Abrir {
    padding: 0.3rem;
    margin-left: 24cap;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  
  }
  
  .Cerrar {   
    padding: 0.3rem;
    margin-left: 0cap;
  }

  .total-horas{
    margin-left: 20px;
    font-size: 5px;
  }