<br>
<div class="container">
    <div class="container {{currentExplan}}">
        <h1>Asignaturas</h1>
        <div class="search-bar">
            <mat-form-field appearance="outline">
                <mat-label>Buscar...</mat-label>
                <input matInput (input)="applyFilter($event)" />
            </mat-form-field>
            <button mat-button style="color: #fff; background-color: #1E90FF;" (click)="openCreateDialog()">Crear</button>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort>
    
                <ng-container matColumnDef="nombre_asignatura">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color">Nombre</th>
                    <td mat-cell *matCellDef="let asignatura">{{ asignatura.nombre_asignatura }}</td>
                </ng-container>
    
                <ng-container matColumnDef="horas_semanales">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color">Horas Semanales
                    </th>
                    <td mat-cell *matCellDef="let asignatura">{{ asignatura.horas_semanales }}</td>
                </ng-container>
    
                <ng-container matColumnDef="carrera">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color">Carrera
                    </th>
                    <td mat-cell *matCellDef="let asignatura">{{ asignatura.nombre_carrera }}</td>
                </ng-container>
    
                <ng-container matColumnDef="ciclo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [style.background-color]="color">Ciclo
                    </th>
                    <td mat-cell *matCellDef="let asignatura">{{ asignatura.nombre_ciclo }}</td>
                </ng-container>
    
                <ng-container matColumnDef="borrar">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color">Eliminar</th>
                    <td mat-cell *matCellDef="let asignatura">
                        <button mat-icon-button color="warn" (click)="deleteAsignatura(asignatura.id_asignatura)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actualizar">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color">Actualizar</th>
                    <td mat-cell *matCellDef="let asignatura">
                        <button mat-icon-button color="primary" (click)="openEditDialog(asignatura)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
    </div> 
</div>
