<div class="table-header">
  <div class="buttons">
    <button class="btn-create">Crear</button>
    <button class="btn-edit">Modificar</button>
    <button class="btn-delete">Eliminar</button>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar..." />
    <button class="btn-search">Buscar</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Id Actividad</th>
      <th>Nombre Actividad</th>
      <th>Descripcion</th>
      <th>Horas no Docentes</th>
      <th>Id Tipo Actividad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actividad of Actividades; let i = index">
      <td>{{ actividad.id_actividad }}</td>
      <td>{{ actividad.nombre_Actividad }}</td>
      <td>{{ actividad.descripcion_actividad }}</td>
      <td>{{ actividad.horas_no_docentes }}</td>
      <td>{{ actividad.id_tipo_actividad }}</td>
    </tr>
  </tbody>
</table>
