<form ngNativeValidate (ngSubmit)="create()">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="nombre_actividad" class="label"><strong>Nombre Actividad</strong></label>
      <input type="text" class="form-control" [(ngModel)]="actividad.nombre_actividad" name="nombre_actividad"
             placeholder="Ingrese nombre de la actividad" required>
    </div>

    <div class="col-sm-6 form-group">
      <label for="descripcion_actividad" class="label"><strong>Descripción de la Actividad</strong></label>
      <input type="text" class="form-control" [(ngModel)]="actividad.descripcion_actividad" name="descripcion_actividad"
             placeholder="Ingrese descripción de la actividad" required>
    </div>

    <div class="col-sm-6 form-group">
      <label for="horas_no_docentes" class="label"><strong>Horas Docente</strong></label>
      <input type="number" class="form-control" [(ngModel)]="actividad.horas_no_docentes" name="horas_no_docentes"
             placeholder="Ingrese las horas no docentes" required>
    </div>

    <div class="col-sm-6 form-group">
      <label for="id_tipo_actividad" class="label"><strong>Tipo</strong></label>
      <select id="form4Example2" class="form-control" [(ngModel)]="tipo.id_tipo_actividad" name="id_tipo_actividad" required>
        <option *ngFor="let tipo of Tipos" [value]="tipo.id_tipo_actividad">
          {{ tipo.nom_tip_actividad }}
        </option>
      </select>
    </div>

    <div class="col-sm-12 form-group">
      <button type="submit" class="btn-primary">Enviar</button>
    </div>
  </div>
</form>