/* Estilo general del formulario */
form {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilo de las etiquetas */
.label {
  color: #606770;
  font-size: 14px;
  font-weight: bold;
}

/* Estilo de los campos de entrada */
.form-control {
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Estilo del botón de envío */
.btn-primary {
  background-color: #1877f2;
  border-color: #1877f2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #165c9b;
}

/* Estilo de los grupos de formularios */
.form-group {
  margin-bottom: 15px;
}

/* Estilo de las filas del formulario */
.row {
  display: flex;
  align-items: center;
}

/* Estilo de las columnas del formulario */
.col-sm-10 {
  flex: 1;
}

/* Ajustes para el responsive design */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-sm-10 {
    width: 100%;
  }

  .input-group {
    margin-bottom: 15px;
  }
}
