/* Estilos del formulario */
.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de los campos de entrada */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos del botón de enviar */
.btn-submit {
  display: block;
  width: 180%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.contenedorBoton{
  margin-top: 2%;
  margin-top: 1%;
  margin-left: 43%;
}



.Abrir {
  margin-left: 22.5cap;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(100% - 22.5cap);
  box-sizing: border-box;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.editar-perfil, .mis-titulos {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}