<div class="{{currentExplan}}">
  <h1 class="h1">DOCENTES</h1>
  <div class="buscador">
    <input type="text" placeholder="Buscar por cedula" [(ngModel)]="searchTerm">
  </div>
  <form class="formulario" ngNativeValidate style="width: 45%;">
    <div class="tables-container">
      <div class="table-container">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
            <tr>
              <th colspan="6" style="text-align: center;">Personas</th>
            </tr>
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Telefono</th>
              <th scope="col">Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of filteredPersonas">
              <td>{{persona.cedula}}</td>
              <td>{{persona.nombre1}}</td>
              <td>{{persona.apellido1}}</td>
              <td>{{persona.telefono}}</td>
              <td>
                <div class="" routerLinkActive="active">
                  <button type="button" class="btnSeleccionar" (click)="escogerPersona(persona)">
                    <i class="bi bi-check-circle-fill"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
