<div class="container">
  <div class="dialog-header">
    <button mat-icon-button  class="close-button" (click)="cerrarDialogo()">
      <i class="bi bi-x"></i>
    </button>
  </div>
  <h1 class="h1">ASIGNATURAS</h1>
  <form class="formulario" ngNativeValidate style="width: 45%;" [formGroup]="myForm">

    <div class="combos-container">
      <div class="input-group mb-3" >
        <div class="combo-container">
          <label for="paralelo" class="label_form font-weight-bold">Paralelo</label>
          <div class="custom-select" > <select class="form-control" placeholder="Paralelo"
            [(ngModel)]="paraleloSeleccionado" name="paralelo" aria-label="Paralelo" aria-describedby="basic-addon1"
              (change)="onParaleloChange($event)" formControlName="paraleloSeleccionado">
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let paralelo of paralelos" [value]="paralelo">{{paralelo}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="combo-container">
          <label for="jornadas" class="label_form font-weight-bold">Jornada</label>
          <div class="custom-select"> <select class="form-control" placeholder="Jornada"
            [(ngModel)]="jornadaSeleccionada" name="jornadas" aria-label="Jornada" aria-describedby="basic-addon1"
              (change)="onJornadaChange($event)" formControlName="jornadaSeleccionado">
              <option value=0 disabled selected>Seleccione una opción</option>
              <option *ngFor="let jornada of jornadas" [value]="jornada.id_jornada">{{jornada.descrip_jornada}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="combos-container">
      <div class="input-group mb-3">
        <div class="combo-container">
          <label for="carreras" class="label_form font-weight-bold">Carrera</label>
          <div class="custom-select"> <select class="form-control" placeholder="Carrera"
              [(ngModel)]="carreraSeleccionada" name="carreras" aria-label="Carrera" aria-describedby="basic-addon1"
              (change)="onCarreraChange($event)" formControlName="carreraSeleccionado">
              <option value=0 disabled selected>Seleccione una opción</option>
              <option *ngFor="let carreras of carreras" [value]="carreras.id_carrera">{{carreras.nombre_carrera}}</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="combo-container">
          <label for="ciclos" class="label_form font-weight-bold">Ciclos</label>
          <div class="custom-select">
            <select class="form-control" placeholder="Seleccione el ciclo" [(ngModel)]="cicloSeleccionado" name="ciclo"
              aria-label="Ciclo" aria-describedby="basic-addon1" (change)="onCicloChange($event)"
              formControlName="cicloSeleccionado">
              <option value=0 disabled selected>Seleccione una opción</option>
              <option *ngFor="let ciclo of ciclos" [value]="ciclo.id_ciclo">{{ciclo.nombre_ciclo}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <h2 style="font-size: 10px; color: red; text-align: center; margin-left: 50px;">Al elegir o quitar asignaturas, deberá seleccionar nuevamente su jornada y paralelo*</h2>
    <hr class="dashed">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="carrera">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Carrera</th>
          <td mat-cell *matCellDef="let asignatura">{{ obtenerNombreCarrera(asignatura.id_carrera) }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_asignatura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let asignatura">{{ asignatura.nombre_asignatura }}</td>
        </ng-container>

        <ng-container matColumnDef="horas_semanales">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Horas Semanales</th>
          <td mat-cell *matCellDef="let asignatura">{{ asignatura.horas_semanales }}</td>
        </ng-container>

        <ng-container matColumnDef="ciclo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciclo</th>
          <td mat-cell *matCellDef="let asignatura">{{ obtenerNombreCiclo(asignatura.id_ciclo) }}</td>
        </ng-container>

        <ng-container matColumnDef="seleccionar">
          <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
          <td mat-cell *matCellDef="let asignatura">
            <button mat-icon-button color="warn" (click)="enviarAsignaturas(asignatura)">
              <i class="bi bi-check-circle-fill"></i>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

  </form>
</div>