.nav {
  background: transparent;
  color: #00172C;
  text-align: center;
  border-bottom: solid #F5F5F5;
  z-index: auto;
  transition: all 0.2s ease;

}

.Abrir {

  margin-left: 22.5cap;
}

.Cerrar {
  margin-left: 0cap;
}

.sesion {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.avatar-Abrir {
  margin-left: 68rem;
  width: 2.5%;
  height: 2.5%;
  right: 0;

}

.avatar-Cerrar {
  margin-left: 68rem;
  width: 2.5%;
  height: 2.5%;
  right: 0;

}

.logo {
  width: 190px;
  height: 60px;
}

.unico {
  border-bottom: 4px solid #c0c0bd;
}

.sidebar {
  background-color: #00172C;
  padding: 1rem;
  width: 225px;
  position: fixed;
  top: 0rem;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.content {
  margin-left: 250px;
  margin-top: 0rem;
  padding: 1rem;
  flex: 1;
  z-index: 50;
}

.sidebar h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}


.sidebar a {
  display: block;
  border-radius: 0.2rem;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  padding: 2%;
}

.sidebar a:hover {
  background-color: #fff;
  color: #000000;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.separator {
  border: 0;
  height: 1.5rem;
  background: #00172C;
  margin: 10px 0;

}

.navbar-nav .nav-item .nav-link {
  color: rgba(5, 5, 5, 0.903);

}