<nav class="{{explan}} nav navbar-expand-lg navbar-link">
  <button mat-icon-button (click)="navbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="container-fluid">
    <span class="navbar-brand">GADI</span>
    <span class="flex-spacer"></span>
    <div class="avatar-{{explan}}">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">

        {{ inicialesUsuario }}

      </button>
    </div>
  </div>
</nav>

<mat-menu #userMenu="matMenu">
  
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>

<mat-sidenav-container class="main">
  <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" class="sidebar">
    <mat-toolbar color="primary"></mat-toolbar>
    <div class="main">
      <div class="sidebar">
        <mat-nav-list>
          <img class="logo" src="assets/img/logo.png">
          <hr class="separator">
          <li class="nav-item active" routerLinkActive="active">
            <a routerLink="/main"><i class="bi bi-house-fill"></i> Inicio</a>
          </li>
          <hr class="separator">
          <li class="nav-item active" routerLinkActive="active">
            <a routerLink="/distributivo" (click)="limpiar()"><i class="bi bi-diagram-3-fill"></i> Nuevo
              Distributivo</a>
          </li>
          <hr class="separator">
          <li class="nav-item active" routerLinkActive="active">
            <a routerLink="/director-reporte"><i class="bi bi-clipboard2-data-fill"></i> Reporte</a>
          </li>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<!-- <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Extra large</mat-card-subtitle>
      <img mat-card-xl-image src="assets/img/logo.png" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card> -->
<mat-divider/>
<!-- <mat-card class="bienvenida-card">
  <mat-card-title>{{ mensajeBienvenida }}</mat-card-title>
  <mat-card-subtitle>Explora en GADI</mat-card-subtitle>
</mat-card> -->