.nav {
  padding: 0.3rem;
  /* margin-left: 22cap; */
  background: linear-gradient(to right, rgb(244, 244, 243) 75%, rgba(80, 80, 80, 0.5) 100%);
  color: white;
  text-align: center;
  border-bottom: 1px solid #12111113;
  z-index: auto;
  transition: all 0.4s ease;
}
.sesion{
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.avatar{
 margin-left: 65rem;
  width: 2.5%;
  height: 2.5%;
  border-radius: 50%;

  right: 0;

}

.unico{
  border-bottom: 4px solid #c0c0bd;
}

.sidebar h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link {
  color: rgba(5, 5, 5, 0.903); 
  
}

.sidebar {
  background-color: #ffffff; 
  padding: 1rem;
  width: 250px;
  position: fixed;
  top: 0rem;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.logo {
  width: 200px; 
  height: 60px;
  margin: 10px;
}

.sidebar a {
  display: block;
  border-radius: 0.5rem;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
}

.sidebar a:hover {
  background-color: #f7f7f7; 
  padding: 10px;
}

.sidebar i {
  margin-right: 10px;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.separator {
  border: 0;
  height: 1.5rem;
  background: #ffffff;
  margin: 10px 0;
}

.mat-primary {
  background-color: #ffffff;
}

.mat-primary .mat-icon {
  color: #fff; 
}

.mat-primary .title {
  color: #000000; 
}

.mat-nav-list a.mat-list-item {
  color: #000; 
}

.mat-nav-list a.mat-list-item:hover {
  background-color: #000000; 
  color: #ffffff; 
}

.mat-nav-list a.mat-list-item.active {
  background-color: #000000; 
  color: #ffffff; 
}
.sidebar-text {
  color: #333333; 
}
.mat-sidenav-content {
  margin-left: 250px;
}
h1{
  background-color: #ffffff;
  color: #000;
}
body{
  background-color: #ffffff;
}