<div class="container {{currentExplan}}">
  <h1>ADMINISTRACIÓN DE CREACIÓN</h1>
  <div class="contenedorBoton">
    <form [formGroup]="searchForm" (ngSubmit)="buscarPersona()">
      <mat-form-field appearance="outline">
        <mat-label>Cédula</mat-label>
        <input matInput formControlName="cedula" />
        <mat-error *ngIf="searchForm.get('cedula')?.hasError('required')">Ingrese una cédula</mat-error>
        <mat-error *ngIf="searchForm.get('cedula')?.hasError('minlength')">Ingrese una cédula válida de 10 dígitos</mat-error>
      </mat-form-field>
      <button mat-button style="color: #fff; background-color: #1E90FF;"type="submit">
        Buscar <mat-icon>search</mat-icon>
      </button>
      <button mat-button style="color: #fff; background-color: #727272;" type="button" (click)="openModal()">
        Lista de personas <mat-icon>list</mat-icon>
      </button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="personaForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre 1" formControlName="nombre1" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Segundo Nombre</mat-label>
      <input matInput placeholder="Nombre 2" formControlName="nombre2" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Apellido 1" formControlName="apellido1" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Segundo Apellido</mat-label>
      <input matInput placeholder="Apellido 2" formControlName="apellido2" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono" formControlName="telefono" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Dirección" formControlName="direccion" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo" formControlName="correo" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad" formControlName="edad" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Vinculación</mat-label>
      <input matInput placeholder="Fecha de Vinculación" formControlName="fecha_vinculacion" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Contrato</mat-label>
      <input matInput placeholder="Tipo de Contrato" formControlName="tipo_contrato" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Título Profesional</mat-label>
      <input matInput placeholder="Título Profesional" formControlName="titulo_profesional" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Grado Ocupacional</mat-label>
      <input matInput placeholder="Grado Ocupacional" formControlName="grado_ocupacional" />
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Nombre de Usuario" formControlName="nombre_usuario" />
    </mat-form-field>
    <mat-divider></mat-divider>
    <div>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Rol" formControlName="rol" (selectionChange)="onRolChange($event)">
          <mat-option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.nombre_rol }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Carrera" formControlName="carrera">
          <mat-option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{ carrera.nombre_carrera }}</mat-option>
        </mat-select>
        <mat-error *ngIf="personaForm.get('carrera')?.hasError('required') && personaForm.get('rol')?.value === 'Director'">Seleccione una carrera para el Director</mat-error>
      </mat-form-field>
    </div>
    <button mat-button style="color: #fff; background-color: #1E90FF;"  (click)="guardarUsuario()">
      Guardar <mat-icon>save</mat-icon>
    </button>
  </form>
</div>
