<nav class="{{explan}} nav navbar-expand-lg navbar-link ">
  <button mat-icon-button (click)="navbar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="container-fluid">
    <span class="navbar-brand">GADI</span>
    <span class="flex-spacer"></span>
    <div class="avatar-{{explan}}">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
        {{ inicialesUsuario }}
      </button>
    </div>
  </div>
</nav>
<mat-menu #userMenu="matMenu">
  
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>
  <mat-sidenav-container class="main"></mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" class="sidebar">
      <mat-toolbar color="primary">
        <img class="logo" src="assets/img/logo.png" alt="Logo">
      </mat-toolbar>
  <div class="main">
    <div class="sidebar">
      <mat-nav-list >
      <img class="logo" src="assets/img/logo.png">
  
      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
      <a routerLink="/mainCoordinador"><i class="bi bi-house-fill"></i> Inicio</a>
      <hr class="separator">
    </li>
      <li class="nav-item active" routerLinkActive="active">
      <a routerLink="/coordinador"><i class="bi bi-clipboard2-data-fill"></i> Distributivos</a>
      <hr class="separator">

      <li class="nav-item active" routerLinkActive="active">
      <a routerLink="/registro"><i class="bi bi-person-plus-fill" aria-hidden="true"></i> Añadir docente</a>
      <hr class="separator">

      <li class="nav-item active" routerLinkActive="active">
        <a routerLink="/admin_Creacion"><i class="bi bi-person-fill-up"></i> Asignar Rol</a>
      </li>

      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
        <a routerLink="/periodo"><i class="bi bi-calendar-plus-fill"></i> Periodos</a>
      </li>
      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
      <a routerLink=""></a>
    </li>
      <hr class="separator">
      <a routerLink="" ></a>
      <hr class="separator">
      <a href=""></a>
      <hr class="separator"> 
    </mat-nav-list>
    </div>
