<hr class="separator-horizontal">
<div class="{{currentExplan}} card-container" routerLinkActive="active" >
    <a  class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>
        <i class="bi bi-arrow-right-square"></i>
        <br>
        <br>
        <span class="abajo">total</span>
        <button (click)="llamarAsignaturas()">Ver Asignaturas</button>
    </a>
    <hr class="separator-vertical">
    <a href="pagina2.html" class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <!-- Agrega más tarjetas según sea necesario -->
    <a href="pagina3.html" class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
</div>