<hr class="separator-horizontal">
<div class="{{currentExplan}} card-container" routerLinkActive="active" >
    <a  class="card" routerLink="/asignatura">
        <span class="Arriba">Asignatura</span>
        <br>
        <br>
        <i class="bi bi-book-half"></i>
        <br>
        <br>
        <span class="abajo">total</span>
    </a>
    <hr class="separator-vertical" card>
    <a class="card" routerLink="/actividad/">
        <span class="Arriba">Actividades</span>
        <br>
        <br>
        <i class="bi bi-book-half"></i>
        <br>
        <br>
        <span class="abajo">total</span>
    </a>
    
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Módulo 3</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <!-- Agrega más tarjetas según sea necesario -->
    <a href="pagina3.html" class="card">
        <span class="Arriba">Módulo 4</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Módulo 5</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
    <hr class="separator-vertical">
    <a href="pagina3.html" class="card">
        <span class="Arriba">Módulo 5</span>
        <br>
        <br>

        <i class="bi bi-book-half"></i>
        <br>
        <br>

        <span class="abajo">total</span>
    </a>
</div>