.separator-vertical {
    padding: 1rem;
    background-color: #fff;
}

.main::before  {
    position: fixed;
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

.main{
    
    content: '';
    position: fixed;
     width: 100%;
    height: 100%;
    background: url('/assets/img/escudo.png') no-repeat center center;
    background-size: 700px 540px;
    opacity: 0.8;
 
}


.Abrir {
    padding: 0.3rem;
    margin-left: 15cap;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #ffffff;

}

.Cerrar {
    padding: 0.3rem;
    margin-left: 0cap;
}