<div class="contenedorPrincipal {{currentExplan}}">
    <hr class="separator-horizontal">

    <mat-card class="bienvenida-card">
        <mat-card-title>{{ mensajeBienvenida }}</mat-card-title>
        <mat-card-subtitle>Explora en GADI</mat-card-subtitle>
        <div class="Saludo"></div>
    </mat-card>
    <div class="ContenedorData">
        <mat-accordion>
            <mat-expansion-panel  [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> Datos Personales </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Mis Datos</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Rol:</strong> {{ rol }}</p>
                        <p><strong>Edad:</strong> {{ additionalPersonaData.edad }}</p>
                        <p><strong>Cedula:</strong> {{ additionalPersonaData.cedula }}</p>
                        <p><strong>Correo:</strong> {{ additionalPersonaData.correo }}</p>
                        <p><strong>Teléfono:</strong> {{ additionalPersonaData.telefono }}</p>
                        <p><strong>Fecha de Vinculacion:</strong> {{ additionalPersonaData.fecha_vinculacion }}</p>
                        <p><strong>Tipo de contrato:</strong> {{ additionalPersonaData.tipo_contrato }}</p>
                        <!-- Cambiado a tipo_contrato -->
                        <p><strong>Títulos:</strong></p>
                        <ul>
                            <li *ngFor="let titulo of titulos">{{ titulo.nombre_titulo }}</li>
                            <!-- Asegúrate de que 'nombre_titulo' es la propiedad correcta -->
                        </ul>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="dashboard-container">

        <div class="slider">
            <p-galleria [value]="images" [showIndicators]="false" [showItemNavigatorsOnHover]="true"
                [showItemNavigators]="true" [autoPlay]="true" [circular]="true" [numVisible]="5"
                [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '700px' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" class="gallery-item" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="containerGalleryPre">
                        <img [src]="item.thumbnailImageSrc" class="gallery-thumb" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>

        <div class="info-section">
            <mat-card class="card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>¿Qué es GADI?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>GADI es una plataforma para gestionar distributivos institucionales. Provee funcionalidades para administrar eficientemente las horas docentes y no docentes de cada uno de los miembros docentes del Instituto Superior Universitario Tecnológico del Azuay de una manera intuitiva y sencilla.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>