<!DOCTYPE html>
<div id="htmlData2" style="width: 1000px; margin-left: 25cap; margin-right: 25cap ;">
    <html lang="es">



    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <img class="img img-responsive" src="assets/img/logo.png" alt="Logotipo">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="container">
                    <h1 class="h">Docente</h1>
                    <h1 class="h-fecha">Fecha:</h1>
                </div>
                <h1 class="h">Nombre y Apellidos</h1>
                <h1 class="h">Docente del Instituto Superior Tecnologico de Azuay</h1>
                <h1 class="h">A continuación se detalla su asignacion de horas docentes y de gestion para el periodo acádemico: ppppp </h1>
                <h1 class="h">Horas docentes:</h1>
            </div>
            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th> </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <h1 class="h">Horas no docentes:</h1>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th> </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <h1 class="h">Agradecidos con su aporte a la institución, suscribimos de usted</h1>
    <h1 class="h">Atentamente</h1>
    <h1 class="h-Final">Kevin Alexander SanchezMedina</h1>
    <h1 class="h-Final1">Rector</h1>
    </html>
</div>
