<!DOCTYPE html>
<div id="htmlData" style="width: 1000px; margin-left: 25cap; font-family: Arial, Helvetica, sans-serif;">
    <html lang="es">

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <img class="img img-responsive" src="assets/img/logo.png" alt="Logotipo">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="container">
                    <h1 class="h">Docente</h1>
                    <h1 class="h-fecha">Cuenca, {{fechaDistributivo}}</h1>
                </div>
                <h1 class="h">{{personaEncontrada.nombre1}} {{personaEncontrada.apellido1}}</h1>
                <h1 class="h">Docente del Instituto Superior Tecnologico de Azuay</h1>
                <h1 class="h">A continuación se detalla su asignacion de horas docentes y de gestion para el periodo
                    acádemico: {{periodoName}} </h1>
                <h1 class="h" style="margin-top: 20px;">HORAS DOCENTES</h1>
            </div>
            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped" style="margin-bottom: -1px;">
                        <thead>
                        </thead>
                        <tbody>
                            <tr *ngFor="let persona of dataSource.data">
                                <td style="text-align: center;">{{persona.nombre1}} {{persona.nombre2}} {{persona.apellido1}} {{persona.apellido2}}</td>
                                <td style="text-align: center;">
                                      <li *ngFor="let titulo of persona.titulos">{{ titulo.nombre_titulo }}</li>
                                  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead style="text-align: center;">
                            <tr>
                                <th>CARRERA</th>
                                <th>CURSO</th>
                                <th>ASIGNATURA</th>
                                <th>HORAS SEMANALES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let asignaturas of dataSourceAsig.data; let i = index">
                                <td>{{carreras[asignaturas.id_asignatura].nombre_carrera || 'No asignado'}}</td>
                                <td>{{distributivoAsignatura[asignaturas.id_asignatura].acronimo || 'No asignado'}}</td>
                                <td>{{asignaturas.nombre_asignatura}}</td>
                                <td style="text-align: center;">{{asignaturas.horas_semanales}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: right;"><b>TOTAL</b></td>
                                <td style="text-align: center;"><b>{{ horasTotales}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <h1 class="h" style="margin-bottom: 20px;">HORAS NO DOCENTES</h1>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead style="text-align: center;">
                            <tr>
                                <th>ACTIVIDAD</th>
                                <th>HORAS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actividades of dataSourceAct.data; let i=index">
                                <td>{{actividades.nombre_actividad}}</td>
                                <td style="text-align: center;">{{actividades.horas_no_docentes}}</td>
                            </tr>
                            <tr>
                                <td colspan="1" style="text-align: right;"><b>TOTAL</b></td>
                                <td style="text-align: center;"><b>{{ horasTotalesActividad}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <h1 class="h" style="text-align: center; font-weight: bold; margin-bottom: 10px;">HORAS TOTALES DEL DOCENTE: {{calcularHorasTotalesPorDocente(horasTotales,horasTotalesActividad)}} </h1>
    <h1 class="h">Agradecidos con su aporte a la institución, suscribimos de usted</h1>
    <h1 class="h" style="margin-top: 50px;">Atentamente</h1>
    <h1 class="h-Final">Kevin Alexander SanchezMedina</h1>
    <h1 class="h-Final1">RECTOR</h1>

    </html>
</div>
<div class="form_group btn_reservar">
    <button type="submit" class="btnDescargar" (click)="downloadPDF()">Descargar
        <i class="fas fa-download"></i>
    </button>
</div>