mat-form-field {
  margin-bottom: 1%;
  margin-top: 5%;
}

table {
  width: 100%;
  overflow: auto;
  display: block;
}


.container {
  display: flex;
  flex-direction: column;

}

th {
  color: #fff;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

.mat-button{
  border-radius: 0.5rem;
  width: 70px;
  height: 2.5rem;
  background-color: #1E90FF;
  border: none;
  color: #fff;
 text-align: center;
}

.combos-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 1cap;
}

.combo-container{
  flex: 1;
  width: 50px;
  margin-left: 9cap;
}

.custom-select {
position: relative;
}

.custom-select select {
appearance: none;
-webkit-appearance: none;
width: 100%;
font-size: 18px;
padding: 5px 10px 5px 10px;
background-color: #FFFFFF;
border: 1px solid #C4D1EB;
border-radius: 5px;
color: #000000;
cursor: pointer;
outline: none;
box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
background: #F2F2F2;
border: 1px solid #5A7EC7;
border-radius: 5px;
}

.custom-select::after {
content: "";
position: absolute;
pointer-events: none;
top: 50%;
right: 10px;
transform: translate(0, -50%);
width: 12px;
height: 12px;
background-color: #000000;
clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.label_form{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.contrato-Cerrar{
  width: 25cap;
}
.Abrir {
  padding: 0.3rem;
  margin-left: 24cap;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 

}

.Cerrar {   
  padding: 0.3rem;
  margin-left: 0cap;
}
