<h1 class="h1">ASIGNATURAS</h1>
<div  class="{{currentExplan}}">
<form class="formulario" ngNativeValidate  style="width: 45%;" >

  <div class="combos-container">
  <div class="input-group mb-3">
    <div class="combo-container">
        <label for="jornada" class="label_form font-weight-bold">Jornada</label>
        <div class="custom-select">
    <select class="form-control" placeholder="Seleccione la Jornada" [(ngModel)]="carreraSeleccionada"
        name="jornada" aria-label="Jornada" aria-describedby="basic-addon1" (change)="onJornadaChange($event)"
        formControlName="carreraSelec">
        <option value=0 disabled selected>Seleccione una opción</option>
        <option *ngFor="let jornada of jornadas" [value]="jornada.id_jornada">{{jornada.descrip_jornada}}</option>
    </select>
</div>
</div>
</div>
<div class="input-group mb-3">
  <div class="combo-container">
      <label for="paralelo" class="label_form font-weight-bold">Paralelo</label>
      <div class="custom-select">
        <select class="form-control" placeholder="Número de personas" (ngModel)="paraleloSeleccionado"
        name="nPersona" aria-label="Número de personas" aria-describedby="basic-addon1" (change)="onParaleloChange($event)"
        formControlName="numeroPer">
        <option value=0 disabled selected>Seleccione una opción</option>
        <option *ngFor="let paralelo of paralelos" [value]="paralelo">{{paralelo}}</option>
    </select>
</div>
</div>
</div>
</div>
    <div class="combos-container">
    <div class="input-group mb-3">
        <div class="combo-container">
            <label for="carreras" class="label_form font-weight-bold">Carreras</label>
            <div class="custom-select">
        <select class="form-control" placeholder="Seleccione la Carrera" [(ngModel)]="carreraSeleccionada"
            name="carrera" aria-label="Carrera" aria-describedby="basic-addon1" (change)="onCarreraChange($event)"
            formControlName="carreraSelec">
            <option value=0 disabled selected>Seleccione una opción</option>
            <option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{carrera.nombre_carrera}}</option>
        </select>
    </div>
    </div>
    </div>

    <div class="input-group mb-3">
        <div class="combo-container">
            <label for="ciclos" class="label_form font-weight-bold">Ciclos</label>
            <div class="custom-select">
        <select class="form-control" placeholder="Seleccione el ciclo" [(ngModel)]="cicloSeleccionado"
            name="ciclo" aria-label="Ciclo" aria-describedby="basic-addon1" (change)="onCicloChange($event)"
            formControlName="cicloSelec">
            <option value=0 disabled selected>Seleccione una opción</option>
            <option *ngFor="let ciclo of ciclos" [value]="ciclo.id_ciclo">{{ciclo.nombre_ciclo}}</option>
        </select>
    </div>
    </div>
    </div>
</div>
  <hr class="dashed">
    <div class="tables-container">
        <div class="table-container">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center;">Asignaturas</th>
            </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Horas Semanales</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignatura of asignaturaFiltrada">
            <td>{{asignatura.nombre_asignatura}}</td>
            <td>{{asignatura.horas_semanales}}</td>
            <td>{{obtenerNombreCiclo(asignatura.id_ciclo)}}</td>
            <td>
                <div class="" routerLinkActive="active">
                    <button type="button" class="btnSeleccionar" (click)="escogerAsignatura(asignatura)"><i class="bi bi-check-circle-fill"></i></button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-container">
      <table class="table table-condensed table-bordered table-striped" style="margin-top: 5cap;">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center;">Asignaturas Seleccionadas</th>
            </tr>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Ciclo</th>
            <th colspan="3">Horas Semanales</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignaturas of asignaturasSeleccionadas; let i=index">
            <td>{{asignaturas.nombre_asignatura}}</td>
            <td>{{obtenerNombreCiclo(asignaturas.id_ciclo)}}</td>
            <td>{{asignaturas.horas_semanales}}</td>
            <td>
              <div class="" routerLinkActive="active">
                  <button type="button" class="btnEliminar" (click)="eliminarAsignatura(i)"><i class="bi bi-x-circle"></i></button>
              </div>
          </td>
          </tr>
          <tr>
            <th colspan="3" style="text-align: left;">Horas totales:</th>
            <td>{{horasTotales}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="btnAcept">
            <button type="submit" class="btnAceptar" (click)="enviarAsignaturas()">Aceptar</button>
        </div>
    </div>
</form>
</div>