<form class="formulario" ngNativeValidate  style="width: 45%;" >
    
    <div class="combos-container">
    <div class="input-group mb-3">
        <div class="combo-container">
            <label for="carreras" class="label_form font-weight-bold">Carreras</label>
            <div class="custom-select">
        <select class="form-control" placeholder="Seleccione la Carrera" [(ngModel)]="carreraSeleccionada"
            name="carrera" aria-label="Carrera" aria-describedby="basic-addon1" (change)="onCarreraChange($event)"
            formControlName="carreraSelec">
            <option value=0 disabled selected>Seleccione una opción</option>
            <option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{carrera.nombre_carrera}}</option>
        </select>
    </div>
    </div>
    </div>

    <div class="input-group mb-3">
        <div class="combo-container">
            <label for="ciclos" class="label_form font-weight-bold">Ciclos</label>
            <div class="custom-select">
        <select class="form-control" placeholder="Seleccione el ciclo" [(ngModel)]="cicloSeleccionado"
            name="ciclo" aria-label="Ciclo" aria-describedby="basic-addon1" (change)="onCicloChange($event)"
            formControlName="cicloSelec">
            <option value=0 disabled selected>Seleccione una opción</option>
            <option *ngFor="let ciclo of ciclos" [value]="ciclo.id_ciclo">{{ciclo.nombre_ciclo}}</option>
        </select>
    </div>
    </div>
    </div>
</div>

    <div class="tables-container">
        <div class="table-container">
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center;">Asignaturas</th>
            </tr>
          <tr>
            <th scope="col">Asignatura</th>
            <th scope="col">Horas Semanales</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="" routerLinkActive="active">
                    <button type="button" class="btnSeleccionar"><i class="bi bi-check-circle-fill"></i></button>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="" routerLinkActive="active">
                    <button type="button" class="btnSeleccionar"><i class="bi bi-check-circle-fill"></i></button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-container">
      <table class="table table-condensed table-bordered table-striped" style="margin-top: 5cap;">
        <thead>
            <tr>
                <th colspan="6" style="text-align: center;">Asignaturas Seleccionadas</th>
            </tr>
          <tr>
            <th scope="col">Asignatura</th>
            <th scope="col">Ciclo</th>
            <th scope="col">Horas Semanales</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th colspan="2" style="text-align: left;">Horas totales:</th>
            <td>Otto</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="btnAcept">
            <button type="submit" class="btnAceptar">Aceptar</button>
        </div>
    </div>
</form>
