<div class="{{currentExplan}}">
<h1 class="h1">GENERACIÓN DE DISTRIBUTIVOS</h1>
<table>
  <thead>
    <button class="btn btn--primary btn--inside" routerLinkActive="true" routerLink="/persona">Ingresar</button>
    <tr>
        <th colspan="8" style="text-align: center; background-color: rgb(33, 59, 173);">DATOS DOCENTE</th> 
    </tr>
    <tr>
      <th colspan="2">CÉDULA</th>
      <th colspan="1">NOMBRE</th>
      <th colspan="1">APELLIDO</th>
      <th colspan="1">TC</th>
      <th colspan="1">TÍTULO PROFESIONAL</th>
      <th colspan="1">GRADO OCUPACIONAL</th>
      <th colspan="1">FECHA DE VINCULACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td  colspan="2" data-label="Cédula">{{persona.cedula}}</td>
      <td colspan="1" data-label="Nombre">{{persona.nombre1}}</td>
      <td colspan="1" data-label="Apellido">{{persona.apellido1}}</td>
      <td colspan="1" data-label="TC">{{contrato.nombre_contrato}}</td>
      <td colspan="1" data-label="TITULO">{{titulo.nombre_titulo}}</td>
      <td colspan="1" data-label="GRADO">{{grado.nombre_grado_ocp}}</td>
      <td colspan="1" data-label="Fecha de Vinculación">{{persona.fecha_vinculacion | date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
        <button class="btn btn--primary btn--inside" routerLink="/asignatura">Ingresar</button>
      <tr>
          <th colspan="5" style="text-align: center; background-color: rgb(33, 59, 173);">ASIGNATURAS</th>
      </tr>
      <tr>
        <th >ASIGNATURA</th>
        <th colspan="1">NRO.HORAS SEMANALES</th>
        <th colspan="2">CARRERA</th>
        <th >CICLO</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td data-label="Cédula"></td>
        <td data-label="Nombre"></td>
        <td data-label="Apellido"></td>
        <td data-label="Teléfono"></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
        <button class="btn btn--primary btn--inside">Ingresar</button>
      <tr>
          <th colspan="7" style="text-align: center; background-color: rgb(33, 59, 173);">ACTIVIDADES NO DOCENTES</th>
      </tr>
      <tr>
        <th colspan="2.3">NO.HORAS GESTIÓN</th>
        <th colspan="2.3">TOTAL HORAS SEMANALES</th>
        <th colspan="3">ACTIVIDADES DESCRIPCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td data-label="Cédula"></td>
        <td data-label="Nombre"></td>
        <td data-label="Apellido"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn--primary btn--inside" style="margin-left: 60cap; margin-bottom: 5cap;">Crear</button>
</div>

