mat-form-field {
  margin-bottom: 1%;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

th {
  color: #fff;
}

h1 {
  position: relative;
}

.example-container {
  overflow: auto;
  margin: 1% 0;
}

table {
  width: 100%;
}

.mat-header-cell {
  background-color: #1E90FF;
  color: white;
}

.contenedorTitulo{
  display: flex;
  flex-direction: row;
}
h2{
  position: relative;
  align-items: center;
  margin-left: 25cap;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.combos-container{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 1cap;
}

.combo-container{
  flex: 1;
  margin-right: 180px;
  min-width: 400px;
  margin-left: 5cap;
}

.custom-select {
position: relative;
}

.custom-select select {
appearance: none;
-webkit-appearance: none;
width: 100%;
font-size: 18px;
padding: 5px 10px 5px 10px;
background-color: #FFFFFF;
border: 1px solid #C4D1EB;
border-radius: 5px;
color: #000000;
cursor: pointer;
outline: none;
box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
background: #F2F2F2;
border: 1px solid #5A7EC7;
border-radius: 5px;
}

.custom-select::after {
content: "";
position: absolute;
pointer-events: none;
top: 50%;
right: 10px;
transform: translate(0, -50%);
width: 12px;
height: 12px;
background-color: #000000;
clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.label_form{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.h1{
  align-items: center;
  margin-left: 19cap;
  margin-top: 2cap;
  font-family: Arial, sans-serif;
  font-size: 30px;
}
.Abrir {
  padding: 0.3rem;
  margin-left: 24cap;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 

}

.Cerrar {   
  padding: 0.3rem;
  margin-left: 0cap;
}
