<nav class="{{explan}} nav navbar-expand-lg navbar-link ">
  <button mat-icon-button (click)="navbar()">
    <mat-icon>menu</mat-icon>
  </button>

    <div class="container-fluid">
     
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link">GADI</a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/img/usu.png" alt="User Avatar" class="avatar-{{explan}} avatar-sm rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="sesion dropdown-item" (click)="cerrar()" >
                  <i class="ni ni-single-02"></i>
                  <span >Cerrar Sesion</span>
                </a>
              </li>
              <!-- Agrega más opciones aquí -->
            </ul>
          </li>
        </ul>
    </div>

</nav>
  <mat-sidenav-container class="main"></mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" class="sidebar">
      <mat-toolbar color="primary">
        <img class="logo" src="assets/img/logo.png" alt="Logo">
      </mat-toolbar>
  <div class="main">
    <div class="sidebar">
      <mat-nav-list >
      <img class="logo" src="assets/img/logo.png">
  
      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
      <a routerLink="/mainDocente"><i class="fas fa-home"></i> Inicio</a>
  
    </li>
      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
      <a routerLink="/reportes"><i class="bi bi-book-fill" style="border-right: 80px;"></i>Mi Distributivo</a>
    </li>
      <hr class="separator">
      <li class="nav-item active" routerLinkActive="active">
        <a routerLink="/reportes"><i class="bi bi-person-circle"></i>Datos Personales</a>
      </li>
      <a routerLink="" ></a>
      <hr class="separator">
      <a href=""></a>
      <hr class="separator"> 
    </mat-nav-list>
    </div>
