<div class="{{currentExplan}}">
    <form ngNativeValidate aria-label="Formulario de Actividades" style="width: 45%;" [formGroup]="myForm">
    <h1 class="h1">ACTIVIDADES</h1>
      <div class="combos-container">
        <div class="input-group mb-3">
          <div class="combo-container">
            <label for="paralelo" class="label_form font-weight-bold">Tipo de Actividad</label>
            <div class="custom-select">
              <select class="form-control" placeholder="Actividad" (ngModel)="tipoActividadSeleccionado"
                name="actividad" aria-label="Actividad" aria-describedby="basic-addon1"
                (change)="onTipoChange($event)" formControlName="actividad">
                <option value=0 disabled selected>Seleccione una opción</option>
                <option *ngFor="let tipo of Tipos" [value]="tipo.id_tipo_actividad">{{tipo.nom_tip_actividad}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <hr class="dashed">
      <div class="btnAceptCrear">
        <button routerLinkActive="active" routerLink="/actividad" class="btnCrear" >Crear Actividad</button>
      </div>
      <div class="tables-container">
        <div class="table-container">
          <table class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th colspan="6" style="text-align: center; background-color: rgb(33, 59, 173); margin-top: 1cap;">Actividades</th>
              </tr>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Horas</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actividad of actividadesFiltrada">
                <td>{{actividad.nombre_actividad}}</td>
                <td>{{obtenerNombreTipo(actividad.id_tipo_actividad)}}</td>
                <td>{{actividad.horas_no_docentes}}</td>
                <td>{{actividad.descripcion_actividad}}</td>
                <td>
                  <div class="btnContenedor" routerLinkActive="active">
                    <button type="button" class="btnSeleccionar" (click)="escogerActividad(actividad)"><i
                        class="bi bi-check-circle-fill"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="table-container">
          <table class="table table-condensed table-bordered table-striped" style="margin-top: 3cap;">
            <thead>
              <tr>
                <th colspan="6" style="text-align: center; background-color: rgb(33, 59, 173);">Actividades Seleccionadas</th>
              </tr>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th colspan="3">Horas No Docentes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actividades of actividadesSeleccionadas; let i=index">
                <td>{{actividades.nombre_actividad}}</td>
                <td>{{obtenerNombreTipo(actividades.id_tipo_actividad)}}</td>
                <td>{{actividades.horas_no_docentes}}</td>
                <td>
                  <div class="" routerLinkActive="active">
                    <button type="button" class="btnEliminar" (click)="eliminarActividad(i)"><i class="bi bi-trash3-fill"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <th colspan="3" style="text-align: left;">Horas totales:</th>
                <td>{{horasTotales}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="btnAcept">
          <button type="submit" class="btnAceptar" (click)="enviarActividades()">Aceptar</button>
        </div>
      </div>
    </form>
  </div>

