<br>
<div class="container">
  <div class="container1 {{currentExplan}}">
    <h1>Actividades</h1>
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Buscar...</mat-label>
        <input matInput (input)="applyFilter($event)" />
      </mat-form-field>
      <button mat-button style="color: #fff; background-color: #1E90FF;" (click)="openCreateDialog()">Crear</button>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id_actividad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let Actividad">{{ Actividad.id_actividad }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_actividad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let Actividad">{{ Actividad.nombre_actividad }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion_actividad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripccion</th>
          <td mat-cell *matCellDef="let Actividad">{{ Actividad.descripcion_actividad }}</td>
        </ng-container>

        <ng-container matColumnDef="horas_no_docentes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Horas no Docentes</th>
          <td mat-cell *matCellDef="let Actividad">{{ Actividad.horas_no_docentes }}</td>
        </ng-container>

        <ng-container matColumnDef="id_tipo_actividad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Actividad</th>
          <td mat-cell *matCellDef="let Actividad">{{ obtenerTipoActividad(Actividad.id_tipo_actividad) }}</td>
        </ng-container>
  
        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let Actividad">
            <button mat-icon-button color="warn" (click)="deleteTipoActividad(Actividad.id_actividad)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="actualizar">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let Actividad">
            <button mat-icon-button color="primary" (click)="openEditDialog(Actividad)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
