<div class="ingreso-titulos">
  <div class="contenedorBoton">
    <h1>INGRESO DE TÍTULOS</h1>
  </div>
  <form [formGroup]="tituloForm" (ngSubmit)="guardarTitulo()" class="form-container">
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Grado</mat-label>
      <mat-select formControlName="grado" required>
        <mat-option *ngFor="let grado of grados" [value]="grado">{{ grado }}</mat-option>
      </mat-select>
      <mat-error *ngIf="tituloForm.get('grado')?.hasError('required')">El grado es requerido.</mat-error>
    </mat-form-field>
    
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Nombre del Título</mat-label>
      <input matInput formControlName="nombre_titulo" required>
      <mat-error *ngIf="tituloForm.get('nombre_titulo')?.hasError('required')">El nombre del título es requerido.</mat-error>
      <mat-error *ngIf="tituloForm.get('nombre_titulo')?.hasError('pattern')">Ingrese un nombre de título válido (letras, espacios, Ejm: Ingeniero en Sistemas).</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" class="btn-submit primary">Guardar Título</button>
      <button mat-raised-button color="warn" type="button" class="btn-submit warn" (click)="cancelar()">Cancelar</button>
    </div>       
  </form>
</div>

  