<div class="container">
    <input type="text" class="input" placeholder="Buscar docente por cédula..." />
    <button class="btn btn--primary btn--inside">Buscar</button>
</div>
<table>
  <thead>
    <tr>
        <th colspan="8" style="text-align: center; background-color: rgb(33, 59, 173);">DATOS DOCENTE</th>
    </tr>
    <tr>
      <th colspan="2">CÉDULA</th>
      <th colspan="1">NOMBRE</th>
      <th colspan="1">APELLIDO</th>
      <th colspan="1">TC</th>
      <th colspan="1">TÍTULO PROFESIONAL</th>
      <th colspan="1">GRADO OCUPACIONAL</th>
      <th colspan="1">FECHA DE VINCULACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td data-label="Cédula"></td>
      <td data-label="Nombre"></td>
      <td data-label="Apellido"></td>
      <td data-label="Teléfono"></td>
      <td data-label="Dirección"></td>
      <td data-label="Correo"></td>
      <td data-label="Edad"></td>
      <td data-label="Fecha de Vinculación"></td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
          <th colspan="5" style="text-align: center; background-color: rgb(33, 59, 173);">ASIGNATURAS</th>
      </tr>
      <tr>
        <th >ASIGNATURA</th>
        <th >NRO.HORAS SEMANALES</th>
        <th >PARALELO</th>
        <th >PERÍODO ACADÉMICO</th>
        <th >JORNADA</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td data-label="Cédula"></td>
        <td data-label="Nombre"></td>
        <td data-label="Apellido"></td>
        <td data-label="Teléfono"></td>
        <td data-label="Dirección"></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
          <th colspan="7" style="text-align: center; background-color: rgb(33, 59, 173);">ACTIVIDADES NO DOCENTES</th>
      </tr>
      <tr>
        <th colspan="2.3">NO.HORAS GESTIÓN</th>
        <th colspan="2.3">TOTAL HORAS SEMANALES</th>
        <th colspan="3">ACTIVIDADES DESCRIPCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td data-label="Cédula"></td>
        <td data-label="Nombre"></td>
        <td data-label="Apellido"></td>
      </tr>
    </tbody>
  </table>
