<div class="container">
    <input type="text" class="input" [(ngModel)]="cedula" (input)="onChangeBuscar($event)" placeholder="Buscar docente por cédula..." />
    <button class="btn btn--primary btn--inside" (click)="buscarPersona()">Buscar</button>
</div>
<table>
  <thead>
    <tr>
        <th colspan="8" style="text-align: center; background-color: rgb(33, 59, 173);">DATOS DOCENTE</th>
    </tr>
    <tr>
      <th colspan="2">CÉDULA</th>
      <th colspan="1">NOMBRE</th>
      <th colspan="1">APELLIDO</th>
      <th colspan="1">TC</th>
      <th colspan="1">TÍTULO PROFESIONAL</th>
      <th colspan="1">GRADO OCUPACIONAL</th>
      <th colspan="1">FECHA DE VINCULACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td colspan="2">{{personaExtendida.cedula}}</td>
      <td colspan="1">{{personaExtendida.nombre1}}</td>
      <td colspan="1">{{personaExtendida.apellido1}}</td>
      <td colspan="1">{{personaExtendida.nombre_contrato}}</td>
      <td colspan="1">{{personaExtendida.nombre_titulo}}</td>
      <td colspan="1">{{personaExtendida.nombre_grado_ocp}}</td>
      <td colspan="1">{{ personaExtendida.fecha_vinculacion | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
          <th colspan="6" style="text-align: center; background-color: rgb(33, 59, 173);">ASIGNATURAS</th>
      </tr>
      <tr>
        <th colspan="1" >ASIGNATURA</th>
        <th colspan="2">NRO.HORAS SEMANALES</th>
        <th colspan="1">PARALELO</th>
        <th colspan="1">PERÍODO ACADÉMICO</th>
        <th colspan="1">JORNADA</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let asignaturas of asignaturasFiltradas">
        <td colspan="1">{{asignaturas.nombre_asignatura}}</td>
        <td colspan="2.5">{{asignaturas.horas_semanales}}</td>
        <td colspan="1">{{asignaturas.paralelo}}</td>
        <td>{{periodoNombre}}</td>
        <td colspan="1">{{obtenerNombreJornada(asignaturas.jornada)}}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
          <th colspan="7" style="text-align: center; background-color: rgb(33, 59, 173);">ACTIVIDADES NO DOCENTES</th>
      </tr>
      <tr>
        <th colspan="2">NO.HORAS GESTIÓN</th>
        <th colspan="2">TOTAL HORAS SEMANALES</th>
        <th colspan="3">ACTIVIDADES DESCRIPCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividades of actividadesFiltradas">
        <td colspan="3.5">{{actividades.horas_no_docentes}}</td>
        <td></td>
        <td colspan="3">{{actividades.descripcion_actividad}}</td>
      </tr>
    </tbody>
  </table>
