<div class="container">
    <input type="text" class="input" [(ngModel)]="cedula" (input)="onChangeBuscar($event)" placeholder="Buscar docente por cédula..." />
    <button class="btn btn--primary btn--inside" (click)="buscarPersona()">Buscar</button>
</div>
<table>
  <thead>
    <tr>
        <th colspan="8" style="text-align: center; background-color: rgb(33, 59, 173);">DATOS DOCENTE</th>
    </tr>
    <tr>
      <th colspan="2">CÉDULA</th>
      <th colspan="1">NOMBRE</th>
      <th colspan="1">APELLIDO</th>
      <th colspan="1">TC</th>
      <th colspan="1">TÍTULO PROFESIONAL</th>
      <th colspan="1">GRADO OCUPACIONAL</th>
      <th colspan="1">FECHA DE VINCULACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{personaExtendida.cedula}}</td>
      <td>{{personaExtendida.nombre1}}</td>
      <td>{{personaExtendida.apellido1}}</td>
      <td>{{personaExtendida.nombre_contrato}}</td>
      <td>{{personaExtendida.nombre_titulo}}</td>
      <td>{{personaExtendida.nombre_grado_ocp}}</td>
      <td>{{ personaExtendida.fecha_vinculacion | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
          <th colspan="5" style="text-align: center; background-color: rgb(33, 59, 173);">ASIGNATURAS</th>
      </tr>
      <tr>
        <th >ASIGNATURA</th>
        <th >NRO.HORAS SEMANALES</th>
        <th >PARALELO</th>
        <th >PERÍODO ACADÉMICO</th>
        <th >JORNADA</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let asignaturas of asignaturasFiltradas">
        <td>{{asignaturas.nombre_asignatura}}</td>
        <td>{{asignaturas.horas_semanales}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
          <th colspan="7" style="text-align: center; background-color: rgb(33, 59, 173);">ACTIVIDADES NO DOCENTES</th>
      </tr>
      <tr>
        <th colspan="2.3">NO.HORAS GESTIÓN</th>
        <th colspan="2.3">TOTAL HORAS SEMANALES</th>
        <th colspan="3">ACTIVIDADES DESCRIPCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividades of actividadesFiltradas">
        <td>{{actividades.horas_no_docentes}}</td>
        <td></td>
        <td>{{actividades.descripcion_actividad}}</td>
      </tr>
    </tbody>
  </table>
