<nav class="{{explan}} nav navbar-expand-lg navbar-link ">
  <button mat-icon-button (click)="navbar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="container-fluid">
    <span class="navbar-brand">GADI</span>
    <span class="flex-spacer"></span>
    <div class="avatar-{{explan}}">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
        {{ inicialesUsuario }}
      </button>
    </div>
  </div>
</nav>
<mat-menu #userMenu="matMenu">

  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>

<mat-sidenav-container class="main"></mat-sidenav-container>
<mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" class="sidebar">
  <mat-toolbar color="primary">
    <img class="logo" src="assets/img/logo.png" alt="Logo">
  </mat-toolbar>
  <div class="main">
    <div class="sidebar">
      <mat-nav-list>
        <img class="logo" src="assets/img/logo.png">

        <hr class="separator">
        <li class="nav-item active" routerLinkActive="active">
          <a routerLink="/main-admin"><i class="bi bi-house-fill"></i> Inicio</a>
        </li>
        <hr class="separator">
        <li class="nav-item active" routerLinkActive="active">
          <a routerLink="/crud-asignatura"><i class=" bi-book-fill"></i> Asignatura</a>
          <hr class="separator">
        <li class="nav-item active" routerLinkActive="active">
          <a routerLink="/activida"><i class="bi bi-person-workspace"></i> Actividad</a>
          <hr class="separator">
        <li class="nav-item active" routerLinkActive="active">
          <a routerLink="/tipo_actividad"><i class="bi bi-book"></i> Tipo Actividad</a>
          <hr class="separator">
        <li class="nav-item active" routerLinkActive="active">
          <a routerLink="/carrera"><i class="bi bi-book"></i> Carreras</a>
        <hr class="separator">
       
      </mat-nav-list>
    </div>