.nav {
  background: transparent;
  color: #00172C;
  border-bottom: solid #F5F5F5;
  z-index: auto;
  transition: all 0.2s ease;
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
i{
  font-size: 18px;
}
.sesion {
  cursor: pointer;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-Abrir, .avatar-Cerrar {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 50%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color: rgba(5, 5, 5, 0.903);
  margin-right: 1rem;
}

.logo {
  max-width: 100%; 
  height: auto;
}

.unico {
  border-bottom: 4px solid #c0c0bd;
}

.sidebar {
  background-color: #00172C;
  padding: 1rem;
  width: 225px;
  position: fixed;
  top: 0rem;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.content {
  margin-left: 250px;
  margin-top: 0rem;
  padding: 1rem;
  flex: 1;
  z-index: 50;
}

.sidebar h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  border-radius: 0.2rem;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  padding: 2%;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #fff;
  color: #000000;
  padding: 9px;
}
.separator {
  border: 0;
  height: 1.5rem;
  background: #00172C;
  margin: 10px 0;
}

.table-container {
  overflow: auto;
  max-height: 70vh;
}


.Abrir {
  margin-left: 22.5cap;
}
